# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/
*.swp
