<section class="py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                    <a href="{% url 'news:index' %}" 
                       class="btn category-filter {% if not current_category %}active{% endif %}">
                        Tümü
                    </a>
                    {% for category in categories_with_names %}
                        <a href="{% url 'news:index' %}?category={{ category.key }}" 
                           class="btn category-filter {% if current_category == category.key %}active{% endif %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
